<h1>Help</h1>
<p>
  To contact the Ruby on Rails Tutorial team
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>


